services:
  db:
    image: postgis:17-3.5-raster
    container_name: postgis_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgis_data:/var/lib/postgresql/data
      - ./my_hgt_files:/data  # Клади сюда свои .hgt файлы на хосте

volumes:
  postgis_data: